<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/index.css" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            </ul>
        </header>
        @RenderBody()

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>

        <!-- so anything inside of a @section scripts{ `will get rendered here` } -->
        @RenderSection("scripts", false)
        <script src="~/js/index.js"></script>
    </body>
</html>

